body{text-align:center;}
	a{background-color:#000000; color:#ffffff; font-size:18px;}
	h1{background-color:#663398; color:#ffffff; line-height:2.0;}
	h2{background-color:#ff0000; color:#ffffff; padding:10px;}