#box1, #box2{margin: 50px; padding: 50px; width:100px; height: 100px; border: 50px solid black;}
#box3{width:100px; height: 100px; background:#ff00ff;}
#box1{background: red;
	-moz-box-sizing: content-box;
}
#box2{background: blue;
	-moz-box-sizing: border-box;
	width: 200px; height: 200px;
	/* 패딩값을 신경쓰지않고 css 사용가능 */
	/* 크로스브라우징이 힘드니까 쓰지않기 */
}