*{margin:0; padding: 0; border: 0; list-style: none; font-family: "맑은 고딕"; color: #333333;}
a{text-decoration: none; display: block;}
cf:after{content:''; display:block; clear: both;}
.hidden{font-size: 0; overflow: hidden; position: absolute; text-indent: -55555em;}

#wrap{width: 1200px; margin: 50px auto; background: #ffffff; font-size: 20px;}
header{width: 100%; height:100px;}
	.top .logo{width: 250px; float:left; height: inherit;}
	.top .logo img{display: block; width: 200px; margin: 27px auto;}
	
	.top .menu{width: 820px; float:right; height: inherit;}
	.top .menu .nav{float:right; margin-top: 30px;}
	.top .menu .nav>li{float: left; width: 200px; margin-left: 5px;}
	.top .menu .nav>li>a{width: 200px; height: 40px; line-height: 40px; font-size: 16px; font-weight: bold; text-align: center; color: #fff; background: #0066ad; transition: all 0.4s;}
	.top .menu .nav>li>a:hover{background: #30a3f3;}
	.top .menu .nav>li .sub{width: 200px; position: absolute; z-index: 999; display: none;}
	.top .menu .nav>li .sub li a{height: 35px; line-height: 35px; font-size: 14px; font-weight: bold; background: #ababab; color: #fff; text-align: center; transition: all 0.4s;}
	.top .menu .nav>li .sub li a:hover{background: #30a3f3;}
	
.bodyWrap{height: 500px; width: inherit;}
	.imgslide{height: 300px; width: 100%; position:relative; overflow:hidden;}
	.imgslide>a{position: absolute; top: 0; left: 0;}
	.imgslide .imgtext{height: 50px; width: 500px; position: absolute; left: 50%; top: 50%; margin: -30px 0 0 -250px; text-align: center; line-height: 50px; color: #fff; font-weight: bold; background: rgba(40,40,40,.5);}
	
	.contents{height: 200px; width: 100%;}
	.contents>div{float:left; width: 400px; box-sizing: border-box; padding: 10px; height: 100%;}
	.contents .tab{position:relative;}
	.tabmenu{box-sizing: border-box;}
	.tabmenu>li{float:left; width: 100px; text-align: center; line-height:30px;}
	.tabmenu>li>a{background:#ccc; border: 1px solid #eee;}
	.tabmenu>li.active>a{color: #fff; background:#aaa;}
	.tabmenu>li div{position: absolute; left: 10px; height: 0; overflow: hidden; background: #fff;}
	.tabmenu>li.active div{width: 380px; height: 150px; box-sizing: border-box; border:1px solid #ddd; z-index:1;}
	.notice ul{float:left; width: 380px; box-sizing: border-box; padding: 10px;}
	.notice ul li{height: 32px; font-size: 15px; text-align:left;}
	.notice ul li span{float:right;}
	.galley{padding: 10px; box-sizing: border-box;}
	.galley li{float:left; margin-right: 14px;}
	.galley li:last-child{margin-right: 0px;}
	
.modal{position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,0.6); z-index: 99999; display: none;}
.modal .modal_up{width: 500px; height: 300px; background: #fff; padding: 30px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%)}
.modal .modal_up .uptitle{font-size: 32px; text-align:center; color: #0066ad; padding-bottom: 30px; }
.modal .modal_up .upbody{line-height:200%}
.modal .modal_up .btn{margin-left: 400px; width: 80px; height: 40px; background:#ddd; text-align:center; line-height:40px; cursor: pointer;}

footer{width: 100%; height: 100px; background:#efefef;}
	footer .f_logo{width: 250px; height: inherit; float:left;}
	footer .f_logo img{width: 120px; margin: 35px auto; display:block;}
	footer .site{width: 950px; height: 50px; float:left;}
	footer .site .f_menu{text-align:center; line-height:30px;}
	footer .site .f_menu li{display: inline-block; width: 100px; margin: 15px; font-weight: bold; letter-spacing: -1px; color: #a9a9a9; font-size: 16px;}
	footer .copy{width: 950px; height: 50px; float:left; text-align: center; line-height: 50px; font-size: 14px;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	