.box{width: 100px; height: 100px;}
.box:nth-child(1){background-color:red;}
.box:nth-child(2){background-color:green; position: relative; left:200px;}
/* 포지션 렐러티브는 자기자리는 남기고 이동함 */
.box:nth-child(3){background-color:blue;}

body > div{width: 1000px; height: 400px; border: 3px solid black; position: relative; left: 50%; margin-left: -500px;}































