*{margin:0; padding:0; border:0;}
.cf:after{content: ''; display:block; clear: both;}
ul, li{list-style:none;}
a{text-decoration:none;}
div{box-sizing: border-box;}
.hidden{font-size: 0; width: 0; height: 0; position: absolute; left: -100%; display: none; text-indent:-55555px; opacity: 0; visibility:hidden;}

/* 팝업 */
.pop{position: fixed; width: 100%; height: 100%; background: rgba(0,0,0,0.4); z-index: 1000; display:none;}
.popup_content{width: 480px; height: 480px; margin: 150px auto; padding: 40px 40px; background: url(../images/popup.jpg) center center;}
.popup_inner{width: 400px; height: 400px; margin: 0px auto; border-radius: 2px; padding: 24px 12px; background: rgba(255,255,255,0.95);}
.popup_content span{display: block; border-bottom: 1px solid #aaaaaa; text-align: center; font-size: 20px; font-weight:bold; padding-bottom:16px;}
.popup_content p{font-size: 14px; padding:20px 12px; line-height: 3; letter-spacing: 0.1px; font-weight: bold;}
.popup_content button{display: block; float: right; background: #ffffff; border: 1px solid #0076be; padding: 6px 16px; color: #0075be; transition: all .4s;}
.popup_content button:hover{background: #0076be; color: #ffffff;}

/* 헤더 부분 */
header{width: 100%; height: 100px; background: #0076be;}
#header{width: 1200px; height: 100px; margin:0 auto;}
.logo{float:left; width: 250px; height: 100px; line-height:100px; text-align: center;}
.logo img{position: relative; top: 8px; left: 10px;}
.nav{float: right; width: 700px; margin-top: 25px;}
.nav ul li{float:left; width: 25%; text-align:center; position: relative; z-index: 500;}
.nav ul li a{display: block; color: #ffffff; font-size: 1.2em; font-weight: bold; transition: all .4s; padding: 15px;}
.nav ul li:hover a{background: #ffffff; color: #0076be;}
.nav ul li ul.sub{position:absolute; left: 0; top: 55px; background: #ffffff; display: none; height: 204px; z-index:450;}
.nav ul li ul.sub li{width: 100%;}
.nav ul li ul.sub li a{font-size: 16px; color: #666666;}
.nav ul li ul.sub li:hover a{background: orange; color: #ffffff;}

#banner{width: 1200px; height: 300px; position: relative; margin: 0 auto;}
#banner ul{width: 1200px; height: 300px; position:relative;}
#banner ul li{width: 1200px; height: 300px; position: absolute; left: 100%;}

#contents{width:1200px; height: 200px; position: relative; margin: 0 auto;}
#contents > article{float:left; width: 400px; height: 180px; box-sizing: border-box; padding: 10px; /* background:rgba(255,0,0,.4); */}

/* 탭메뉴 */
.tab li{width: 100px; height: 35px; float:left; text-align: center; line-height: 2.1; margin-right: 5px; background: #efefef; color: #ffffff;}
.tab li.active{background:#ffffff; border: 1px solid #ff9326; border-bottom: none; position: relative; z-index: 5;}
.tab li a{color:#666666;}
.tab_con{position: relative;}
.tab_con .board ul li{letter-spacing: -1px;}
.tab_con .board ul li a{float: left; display: block; width: 80%; overflow:hidden; white-space: nowrap; text-overflow: ellipsis; color: #666666;}
.tab_con .board ul li span{float: right; display: block; width: 15%; text-align:right; font-size: 14px; color: #666666;}
.tab_con > div{position: absolute; top: -1px; background: #ffffff; clear: both; width: 380px; height: 134px; border: 1px solid #ff9326; font-size: 14px; padding: 15px 20px; letter-spacing: -1px; line-height: 2;}
/* .tab_con > div:last-child{display:none;} */
.tab_con .gallery ul li{float:left;}
.tab_con .gallery ul li img{width: 104px; height: 104px; margin-right: 13px; display: block;}
.tab_con .gallery ul li:last-child img{margin-right: 0px;}

.content2{width: 400px; margin: 2px auto;}
.content2 img{margin: 2px auto; display: block;}
.content3 .banner_wrap{text-align: center; width: 390px; margin-right: 10px;}
.content3 .banner_wrap> div{width: 31.3%; margin: 0.5%; float:left;}

footer{width: 100%; height: 100px; background: #4e4e4e;}
#footer{width: 1200px; height: 100px; margin: 0 auto; padding: 0 20px;}
.footer1{float: left; width: 200px; height: inherit; text-align: center;}
.footer1 img{padding-top: 30px;}
.footer2{float: left; width: 800px; height: 50px;}
.footmenu{width: 800px; float:left; height: 50px;}
.footmenu ul{margin-left: 50px; height: 50px; border-bottom:1px dotted #aaaaaa;}
.footmenu ul li{width: 185px; float: left; text-align: center;}
.footmenu ul li a{color: #ffffff; line-height: 50px; font-size: 14px;}
.footmenu ul li.green a{color: #bbffcc;}
.footter3{float:left; width: 800px; height: 50px; text-align:center; /* background:rgba(0,255,0,0.4); */}
address{float: left; width: 800px; color: #cccccc; font-style: normal; text-align:center; font-size: 13px; padding-top: 4px; margin-left: 25px;}
address strong{color:#ffffff;}
address span{text-transform: uppercase;}





















