/* body{background:#ff0000;} */
#wrap{height:550px; width:700px; background:#00ff00; margin : 0 auto}
	#header{height:100px; width:700px; background:#999999}
	#sector{height:400px; width:700px; background:#00ff00}
		#left{height:400px; width:100px; background:#ff0000}
		#center{height:400px; width:500px; background:#00ff00}
		#right{height:400px; width:100px; background:#0000ff}
	#footer{height:50px; width:700px; background:#999999}

	
	
.fl{float:left;}
.box1_1{height:100px; width:100px;}
.box2_5{height:200px; width:500px;}
.box2_1{height:200px; width:100px;}
.color1{background: #ff0000}
.color2{background: #00ff00}
.color3{background: #0000ff}
.color4{background: #6666ff}
