body{margin: 0; padding: 0;}
ul, li, a, img, h3, h4, p, div{margin: 0; padding: 0; list-style: none; text-decoration: none; color: #666666; vertical-align: top;}
.cf:after{content: ''; display: block; clear: both;}

#wrap{width: 1200px; height: 600px; margin: 0 auto;}
#footer{width: 100%; height: 100px; background: #333333;}
.footer_area{width: 1200px; height: 100px; margin: 0 auto; background: rgba(100,100,255,0.3);}
.header{position:relative; width: 1200px; height: 93px; background: rgba(200,200,200,0.3);}

.header h1{float:left; padding: 0; margin-top: 10px; margin-bottom: 0;}
.header h1 span{display: none;}
.gnb_wrap{float:right; padding-top: 43px; text-align: center;}
.gnb_wrap>ul>li{position: relative; float:left; margin-right: 5px; line-height: 50px;}
.gnb_wrap>ul>li.last{margin:0;}
.gnb_wrap>ul>li>a{display:block; width: 150px; height: 50px; background: #379935; font-weight: bold; color: #ffffff; border-radius: 2px 2px 0 0;}

/* 2depth */
.depth2{position: absolute; width: 100%; top: 50px; background-color: #20721e; line-height: 50px; z-index: 90;}
.depth2:hover{background:#379935;}
.depth2 a{display: block; font-size: 15px; color: #ffffff;}
.depth2 a:hover{text-decoration: underline;}
.gnb_bg{position: absolute; top: 93px; left: 0; z-index: 89; width:100%; height: 150px; background: #30832e;}

.main{position: relative; width: 1200px; height: 300px; overflow: hidden; /* background: rgba(0, 0, 255, 0.3); */}
.main>ul{width: 3600px; height: 300px;}
.main li{position:absolute;}
.slide1{top: 0%; left: 0%;}
.slide2{top: 0%; left: 100%;}
.slide3{top: 0%; left: 200%;}

.content{width: 1200px; height: 200px;}
.content>div{float:left; height: 200px;}
/* .content>div.content1{width:400px; background: rgba(255,0,255,0.3);}
.content>div.content2{width:500px; background: rgba(255,255,0,0.3);}
.content>div.content3{width:300px; background: rgba(0,255,0,0.3);} */
.section{height: 170px;}

.c1{width: 395px; height: 156px; border-top: 2px solid #379935; border-bottom: 2px solid #333333;}
.c1 li{padding-bottom: 2px; line-height: 29px; border-bottom: 1px dotted #20721e;}
.c1 li.last{border: none;}
.c1 li a{font-weight: bold; font-size: 15px; color: #20721e;}
.c1 li a:hover{color: #379935;}

.c2{width: 495px; height: 160px; background:#379935; border-radius: 0 2px 2px 2px;}
.c2 ul{padding: 9px 0 0 4px;}
.c2 li{float:left;}
.c2 img{margin-right: 1px; padding: 1px; background-color: #ffffff; border-radius: 1px;}

.c3{width: 295px; height: 156px; border-top: 2px solid #379935; border-bottom: 2px solid #333333; border-radius:2px;}
.c3 img{padding-top: 3px;}

.footer_area>div{float: left;}
.footer_area div.footer_right{float: right; text-align: center;}
.footer_left{width: 210px; height: 100px; border-right: 1px solid #666666;}
.footer_left h4{padding-top: 10px;}
.footer_text{padding: 25px 0 0 25px;}
.footer_text p{padding-top:5px; color: #777777; font-size: 14px;}
.footer_right{width: 310px; height: 100px; border-left: 1px solid #666666;}
.footer_right h4{padding: 5px 0; font-size: 17px;}
.footer_right a{display: block; width: 100px; margin: 0 auto; padding-left: 10px; font-size: 14px; background: url(../images/list_bullet.png) 5px 5px no-repeat; margin-bottom: 3px; color: #888888;}
.footer_right a:hover{color: #999999;}

/* popup */
.popup{position: fixed; z-index: 55555; background: #ffffff; left: 50%; margin-left: -252px; top: 50%; margin-top: -300px; width: 450px; height: 330px; border: 5px solid #379935; border-radius: 5px;}
.popup h3{padding: 15px 0 5px 5px; border-bottom: 1px solid #20721e; color: #20721e;}
.popup p{font-size: 15px; padding: 3px 0 3px 5px; border-bottom: 1px dotted #20721e; color: #379935;}
.popup p.last{border: 0;}
.popup button{float: right; border: 0; color: #ffffff; background: #379935; width: 50px; height: 25px; margin: 15px 25px 0 0; border-radius: 2px; line-height: 100%; cursor: pointer; margin-bottom: 10px;}















