*{margin:0; padding:0;}
a{text-decoration:none; color:222222;}
ul, li{list-style:none;}
.hidden{display:none;}
.cf:after{content:''; display:block; clear:both;}
div{box-sizing:border-box;}
.fl{float:left;}
.cl{clear:left;}
.fr{float:right;}
.center{margin:0 auto;}

/* popUp */
#popUp{width:100%; height: 100%; background:rgba(0,0,0,0.6); position:fixed; z-index:99999; display:none;}
.pop_cont{width:500px; height:500px; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); background:#fff; padding:20px;}
.pop_cont .title{font-size:1.2em; font-weight:bold; text-align:center;}
.pop_cont .title + p{margin-top:30px;}
.pop_cont .pop_btn{margin-top: 189px; padding:10px; background:#cccccc; font-weight: bold;}
.pop_cont .pop_btn:hover{background-color:red; color: #ffffff;}

/* header */
#header{width:1200px; height:400px; background-color:#111111;}

/* logo */
#header .logo{width:1200px; height:100px; background-color:#222222;}

/* menu */

/* section */
#section{width:1200px; height:500px; background-color:#333333;}

/* slide */
.slide{width:1200px; height:300px; background-color:#444444;}

/* notice */
.notice{width:400px; height:200px; background-color:#555555;}
.gallery{width:400px; height:200px; background-color:#666666;}
.banner{width:400px; height:200px; background-color:#777777;}

/* footer */
footer{width:100% height: 100px; background: #888888;}
#footer{width: 1200px; height: 100px; background: rgba(100,100,255,0.3);}
#footer .logo{width:200px; height:100px; background-color:#999999;}
#footer .center{width:800px; height:100px; background-color:#aaaaaa;}
#footer .family{width:200px; height:100px; background-color:#bbbbbb;}

