/* 전체 선택자 */
*{margin:0; padding:0;}
/* body 선택자 */
body{margin:50px;}
/* 하이퍼링크 디자인 */
a:link{text-decoration:none; font-size:12px; color:#93908b;}
a:visited{color:gray;}
a:visited{color:black;}
/* div 요소 디자인  */
div{margin-bottom:50px;border:5px solid #ff0f96; font-family: '맑은 고딕'; width:150px;}
div#categoryBox{border:5px solid #048081;}
/* h1 요소 디자인 */
h1{padding-left:15px;}
#categoryBox>h1{border-bottom:1px solid silver;}
