*{margin:0; padding:0;margin:0px;font-family:"맑은 고딕", 돋움, arial;}
body {
				margin:50px;
			}
a {
				text-decoration:none;
				font-size:12px;
			}
			a:link, a:visited {
				color:gray;
			}
			a:hover, a:active {
				color:black;
			}

			/* div 요소 디자인 */
			div {
				width:150px;
				margin-bottom:50px;
			}
			#categoryBox {
				border:5px solid teal;
			}
			#bbsBox {
				border:5px solid deeppink;
			}
/* h1 요소 디자인 */
#categoryBox>h1{border-bottom: 1px solid silver;}

h1{padding-left:20px;}
/* ul 요소 디자인 */
ul>li{list-style:none; }
ul{margin:20px; margin-top:0;}


/* cookMenu 클래스안에 위치한 첫번째 li 요소 안에 위치한 하이퍼링크 텍스트 디자인 */
.cookMenu>li:first-child>a:link{font-weight:bold; color:#000000;}

/* bbsMenu 클래스 안에 위치한 각 하이퍼링크 텍스트 디자인 */
.bbsMenu a{color:#ffffff; padding:2px;}
.bbsMenu a[title="자유게시판"]{background-color:red;}
.bbsMenu a[title="회원장터"]{background-color:blue;}
.bbsMenu a[title$="레시피"]{background-color:green;}

















