*{margin: 0; padding: 0; border: 0;}
html{overflow-y: scroll;}
body, select, input{font: 14px '맑은 고딕', sans-serif; color: #333333;}
.cf:after{content: ''; display: block; clear: both;}
.fl{float: left;}

#wrap{width: 800px; margin: 0 auto;}
h1{background: url(../images/table_bg.png) no-repeat left center; height: 50px; line-height: 50px; padding-left: 60px; margin: 50px 0 25px 25px; color: #999999; letter-spacing: -0.1em; text-shadow: 0 0 4px #efefef;}

/* 게시판 검색창 */
#search_wrap fieldset{float: right; margin: 0 20px 10px 0;}
#search_wrap select, #search_wrap input{vertical-align: middle; border: 1px solid #aaaaaa; padding-bottom: 2px; margin-right: 20px;}
#search_wrap select{height: 24px;}
#search_wrap input{height: 22px; line-height: 22px; width: 110px;}
#search_wrap button{height: 24px; width: 60px; background: #ff9900; color: #ffffff; border-radius: 5px; line-height: 24px;}
#search_wrap button:hover{cursor: pointer; color: #666666;}

/* 게시판 목록 */
#board > .first{clear: both; background-color: #ff9900; border-radius: 10px 10px 0 0; color: #efefef; font-weight: bold; text-shadow: 0 0 1px #ffffff;}
#board > .first .title1{border-radius: 10px 0 0 0;}
#board > .first .title4{border-radius: 0 10px 0 0;}
#board > div:hover{background-color: #ffffee;}
#board > div input{display: none;}
#board > .first > div{line-height: 50px; height: 50px; text-align: center; float: left;}
#board >div > div{width: 100px; line-height: 50px; height: 50px; text-align: center; float: left; border-bottom: 1px dotted #ff9900;}
#board > div:hover > div{background-color: #efefef;}
#board > .first:hover > div{background-color: #ff9900;}

/* 게시판 세부목록 */
#board .title2{width: 500px; text-align: justify;}
#board .content_wrap{height: auto; width: 96%; text-align: left; padding: 2%; display: none;}

#board input:checked ~ div.content_wrap{display: block;}
#board input:checked ~ div.title2 > label{cursor: default;}
#board label{cursor: pointer; line-height: 50px; height: 50px; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.subject{text-align: justify; font-weight: bold; font-size: 16px; background: #dfdfdf; padding: 10px 20px; line-height: 26px;}
.content{text-align: justify; padding: 10px 20px; background: #ffffff; line-height: 24px; border-bottom: 1px solid #dddddd;}

/* 페이지 번호 */
#page{position: relative; float: left; left: 50%; top: 50px;}
#page > div{position: relative; float: left; left: -50%; padding: 2px 10px; margin: 0 10px; cursor: pointer;}
#page > .active{cursor: default; color: red; font-weight: bold;}
.prev, .next{text-indent: -99999px;}
.prev{background: url(../images/arrow_left.png) no-repeat center center; background-size: 7px;}
.next{background: url(../images/arrow_right.png) no-repeat center center; background-size: 7px;}
















