body, dl, dt, dd, p, ul, li {margin:0px;}
body {font:0.75em "맑은 고딕",돋움,arial;color:#fff;background:#000 url(../images/bg_event.png) no-repeat center 35px;min-width:485px;min-height:551px;}
header h1, header h2, header h3 {display:none;}
nav {background-color:#f63;border-bottom:2px solid #fff;height:40px;}
nav ul {list-style:none;padding:10px;text-align:center;}
nav ul li {display:inline;}
nav ul li a {text-decoration:none;color:#000;font-size:1.1em;padding:10px 5px;}
nav ul li a:hover {color:#fff;background-color:#000;border-radius:10px;}

section{width: 485px; margin: 0px auto; padding-top:260px;}
section p {width: 230px; position: relative; left:220px;text-align:justify;color:#666666;font-weight:bold; font-size:1.1em;}
section dl {background:url(../images/event_goods.png)no-repeat right top;width:250px; position:relative; left:220px; top:20px; padding-bottom: 100px;}
section dt {background-color: #333; padding:5px 0px; border-radius:10px; width:70px; text-align: center;}
section dd {text-align:justify; padding:10px 0px;}
section dd.style1 {width:170px;}
footer {position:fixed; bottom:0px; width:100%; height:12%; border-top: 3px solid #ff6600; background-color: #000;}
footer p {margin:0 auto; width:485px;font-weight:bold;padding:10px;background:url(../images/logo_footer.png)no-repeat 390px 10px; text-align:center;}
footer p a{text-decoration:none;color:#fff;}