#topMenu{list-style: none; width: 100%; background-color: #660000; margin: 0px; padding: 10px; text-align: center;}
#topMenu li{display:inline; padding-left: 50px;}
/*display:inline은 padding이 위아래로 안생김 그래서 float:left씀*/
#topMenu li.first{display:inline; padding-left: 0px;}