*{margin: 0; padding: 0;}
ul, li{list-style: none;}
body{color: white; font: 1.5em; font-size: bold;}
.cf:after{content:''; display: block; clear: left;}

.oneInner{background: yellow; height: 50px; position: relative; left: 0px; top: 0px;}
	.oneDepth{width: 1420px; background: blue; height: 50px; margin: 0 auto;}
	.oneDepth > li{float: left; padding: 0px 20px; height: 50px;}
	.oneDepth > li > a{display: block; float:left; padding: 0px 20px; line-height: 50px; height: 50px; color: white;}
	.oneDepth > li:hover .twoInner{display:block;}
	
.twoInner{width: 100%; background: skyblue; position: absolute; top: 50px; left: 0px; display: none; float: left;}
	.twoDepth{width: 1420px; background: #000066; margin: 0 auto;}
	.twoDepth > ul{float: left;}
	.twoDepth ul li a{color: white;}