*{margin:0; padding: 0; border:0;}
ul, li{list-style:none;}
a{text-decoration: none;}
.heading{position:relative; top: 60px; font-weight:bold; font-size:1.4em;font-family: Arial, sans-serif; color: #dfdfdf; text-align: center;}
#main_header{width: 1200px; margin: 0 auto; position: relative; background:#efefef; height: 200px; overflow: hidden}
#main_header > #title {text-align:center;}
#main_header > #main_gnb {position: absolute; top:0px; right: 0px;}
#main_header > #main_gnb li{float: right; margin-top:0px; }
#main_header > #main_lnb ul{position: relative;float: left; color: #ffffff; top: 117px; left: 50%;}
#main_header > #main_lnb ul li{position: relative;float: left; left:-50%;}
#main_header > #main_lnb ul li a{background-color: #ffffff;  color: #000000; display: block;  padding: 5px 30px;}
#main_header > #main_lnb ul li:first-child a{border-radius: 10px 0px 0px 10px;}
#main_header > #main_lnb ul li:last-child a{border-radius: 0px 10px 10px 0px;}

#main_header > #main_lnb ul li a:hover{background-color: #000000; color:#ffffff;}
























