*{margin:0; padding:0;}
body{padding: 50px;}
ul,li{list-style: none;}

#nav{height : 45px; padding: 6px 7px; background: #7d7d7d; border-radius: 1.5em;}
#nav li{float: left; position: relative; margin: 5px 10px;}
#nav li a{display: block; padding: 10px 20px; font-family:'굴림', sans-serif; font-weight: 600; font-size: 1em; color:#e7e5e5; text-decoration:none; border-radius: 1.4em; text-shadow: 0 1px 1px rgba(0,0,0,0.3);}
#nav li:hover > a{background: #ebebeb; color: #444444; text-shadow: 0 1px 1px rgba(0,0,0,0.2); box-shadow: 0 1px 1px rgba(0,0,0,0.2);}
#nav ul{position: absolute; left: 0; top: 45px; width: 150px; background: #dddddd; border: 1px solid #b4b4b4; border-radius: 8px; box-shadow: 0 1px 3px rgba(0,0,0,0.3); opacity: 0;}
#nav li:hover ul{opacity: 1;}
#nav ul li{float: none; margin:0; padding:0;}
#nav ul a{font-weight: normal; text-shadow: 0 1px 0 #ffffff; text-shadow: 0 1px 1px rgba(0,0,0,0.1);}
#nav ul li:hover a{background: #0078ff; color:#ffffff; text-shadow: 0 1px 1px rgba(0,0,0,0.1);}
#nav ul li:first-child > a{border-radius: 8px 8px 0 0;}
#nav ul li:last-child > a{border-radius: 0 0 8px 8px;}