*{margin:0; padding:0;}
	body{background: url(../images/grid_back_02.gif);}
		#wrap{height:560px; width:770px;}
			#menu{height:210px; width:140px;}
			#title{height:140px; width:210px;}
			
.fl{float:left;}
.box3_11{height:210px; width:770px;}
.box3_1{height:210px; width:70px;}
.box1_1{height:70px; width:70px;}
.box3_3{height:210px; width:210px;}
.box1_3{height:70px; width:210px;}
.color1{background:#ff9900;}
.color2{background:#ffcc00;}
.color3{background:#ffff99;}