.font_big{font-size: 2em;}
.font_italic{font-style: italic;}
.font_bold{font-weight: bold;}
.font_center{text-align: center;}
.button{width: 300px; height: 140px; background-color: #ffff00; border: 10px solid #ffffff; border-radius: 30px; box-shadow: 5px 5px 5px #a9a9a9;}
.button>a {text-decoration:none; display: block;}