/* *{background:#ff0000;} */
table{border:1px solid #999999;}
td{border:1px solid #999999; width:200px; height:40px;}
th{border:1px solid #999999; width:200px; height:40px;}
#foot{height : 200px;}

.first_line{width:100px; height:40px;}
.tac{text-align:center;}
