body{background:url(../images/pattern_gray.png); margin:0 auto;}
h1{background:#ffffff; padding: text-align: center; margin-bottom:; border-top:1px solid #000000; border-bottom:5px solid;}
h2{background-color:black; border-radius:10px;
line-height:150%;}
#faqBox{font:; line-height:150%; color:#ffffff; width:570px;; padding:15px 50px; margin:50px; background:#666666; border: 1px solid #ffffff; border-radius:20px; box-shadow:;}