body {
				background:url(../images/pattern_gray.png);
				margin:50px 0px 0px 0px;
			}

			h1 {
				background:#ffffff;
				padding:5px;
				text-align:center;
				margin-bottom:30px;
				border-top:1px solid #000000;
				border-bottom:5px solid #000000;
			}

			#faqBox {
				font:9pt "맑은 고딕", 돋움;
				line-height:150%;
				color:#efefef;
				width:500px;
				padding:10px;
				margin:0px auto;
				background:#666666;
				border:2px solid #efefef;
				border-radius:10px;
				box-shadow:0px 0px 20px #000000;
				padding-bottom:0px;
				padding-left:10px;
			}
			h2{padding-left:20px;}
			
			#faqBox dl{width:500px;border-top:1px dotted #ffffff;padding:12px 0px;
			}
			#faqBox dt{margin-left:20px; margin-bottom:20px;background: #000000; font-weight:bold; padding: 5px; border-radius:5px; padding-right:50px;}
			#faqBox dd{margin:10px; padding:0px 20px; text-align:justify; color: rgba(255,255,255,0.7);}
			#faqBox dt:before{content:"Q... ";font-weight: bold; color:#ccff66; font-size:17px;}
			#faqBox dd:before{content:"A... ";font-weight: bold;color:#ffff99;
			font-size:16px;}