*{margin: 0; font-family: '맑은 고딕', '돋움체', sans-serif;}
body{border-style: solid; border-width: 15px; border-color: #000000;}
h1{text-align: center; border-top-style: solid; border-top-width: 20px; border-top-color: #ff3333;}
div{margin: 20px auto; width: 70%; border: 15px double #669933;}
p{padding: 10px; border-bottom: 1px dashed #000000;}
.removeLine{border-style: none;}