body{margin: 0;}
body{background-color: silver; background-image: url(../images/bg0.png); background-repeat: repeat-y; background-position: top right; background-attachment: fixed;}
div{background: url(../images/bg1.png) repeat-y; fixed top left; padding: 20px; width: 80%;}
p{background: #000000 url(../images/dot.png) repeat bottom left; color: #ffffff; font-size: 1.2em; font-family: 'Times New Roman', serif; margin-left:70px;}