body{font-family: 0.9em '맑은 고딕' sans-serif;}
#list1{list-style-image: url(../images/arrow.gif); list-style-position: inside;}
#list2{list-style-type: upper-roman; list-style-position: outside;}
#list2 li:first-child{list-style: url(../images/num1_green.gif) inside;}
#iist2 li:last-child{list-style: hiragana inside;}
