/* body{background:#ff0000;} */
#box1 h2{font-family:'Times New Roman', serif; font-size: 2em; font-weight: normal;}
#box1 p{font-family: georgia, sans-serif; font-size: 20px; font-weight: bold;}
#box2 h2{font-style: italic; color: red; }
#box2 p{font-variant; small-caps: color:#336633;}
#box3 h2{font: 3em Arial, sans-serif;}
#box3 p{font: small-caps italic 30px 'Times New Roman',serif;}
/* small-caps: 대문자 크기 키우기 */
