h1, ul, li {margin:0px;padding:0px;}
body { margin-top:30px;font:1.2em verdana,sans-serif;}
h1 {padding-bottom:20px;text-align:center;font-size:2em;color:#fff;font-style:italic;text-shadow:0px 0px 10px #666;}
a {text-decoration:none;}
#bookList { background:no-repeat url(images/book_bg.png); width:476px; height:246px;padding-left:22px; padding-top:25px;margin:0px auto;border:5px solid #DBDBDB;border-radius:30px;box-shadow:0px 0px 10px #666;}
#bookList ul {list-style:none;}
#bookList ul li {float:left;}
#bookList ul li a, #bookList ul li a img {display:block; }	
#bookList ul li a img.frame { margin-right:63px;}
#bookList ul li a:hover img { box-shadow:0px 0px 50px #009900;}
#bookList ul li a span{display:block; position:relative;}
#bookList ul li a span span.hit{position: absolute; z-index:2; background: url(../images/ico_hot.png) no-repeat top left; left:-10px; top:-10px; width:50px; height:50px;}