input[type=checkbox]:checked + div {height:0;}

div{
	overflow: hidden; width: 650px; height: 300px;
	-ms-transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}