.cb{ clear:both; }
.guide{ color:#ccc; }

/* 로딩화면(모든 동작 정지) */
#search_map_page #map { height: 500px; width: 100%; position:absolute; top:152px; z-index:9; }
#search_map_page #block{ width: 100%; height: 100%; position:fixed; left:0; top:0; z-index:999; display:none; }
/* 내 위치로 이동하는 버튼 */
#search_map_page .custom-map-control-button{ width:40px; height: 40px; margin:10px 10px 30px 10px; cursor: pointer; border-radius:50%; border:none; box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1); background:url(../images/my_location_off_icon.png)no-repeat center center; background-size:25px; background-color:#fff; }
#search_map_page .custom-map-control-button.on{ background:url(../images/my_location_on_icon.png)no-repeat center center; background-size:25px; background-color:#fff; }
#search_map_page .custom-map-control-button.position{ position: absolute; bottom:10px; right:10px; }
/* 검색박스 */
#search_map_page #search_box{ width: 100%; }
#search_map_page #search_box>div{ width:85%; border:2px solid #12c39a; border-radius:15px; position:relative; }
#search_map_page #search_box #input_location{ width: 92%; line-height:50px; font-size:1.1em; margin-left:4%; background:rgba(255,255,255,0); border:0px; letter-spacing:-1.5px; }
#search_map_page #search_box #input_location:focus{ outline:none; }
#search_map_page #search_box #submit{ width: 20px; height: 20px; background:url(../images/search_icon.png)no-repeat;background-size : contain; margin:15px 0;border:0; z-index:2; }
#search_map_page #search_box #clear:focus{ border:0; }
#search_map_page #search_box #clear{ width: 30px; height: 30px; position:absolute; right:0; top:0; background:url(../images/cancle_icon.png)no-repeat;background-size : contain; margin:10px; border-radius:50%;border:0; z-index:2; display:none; }
#search_map_page #search_box #clear:focus{ border:0; }

/* 백그라운드 */
#search_map_page #info_back{ width:100%; padding: 10px 0px 20px 0px; border-radius: 20px 20px 0 0; background:#f9f9f9; position: absolute; top:620px; z-index:99; box-shadow: 0px -2px 1px 1px rgba(0,0,0,0.1); }
#search_map_page .bar{ width: 50px; height: 3px; margin: 0 auto; border-radius: 1.5px; background-color: #ddd; }

/* 팝업 */
#search_map_page #popup_push_product{position: fixed; background-color:#f9f9f9; font-size:18px; font-weight: bold; padding: 20px; line-height:28px; z-index:10; border-radius:10px; top:100px; box-shadow: 5px 5px 5px rgba(0,0,0,0.1); transform: 1s; display: none;}

/* 상세정보 */
#search_map_page #location_info{ width: 100%; margin-top:570px;}
#search_map_page #location_info *{ font-size: 10px; color:#666;}
#search_map_page #location_info ul li{ margin-top:20px;}
/* 폰트크기 18 14 10px */
#search_map_page #location_info .tit{font-size: 18px; color:#333; font-weight:bold;}
#search_map_page #location_info .reset{width:30px; height:30px; background:url(../images/reset_icon.png)no-repeat; background-size:contain;}
#search_map_page #location_info .sub_tit{font-size: 14px; color:#333;}
#search_map_page #location_info .pd_img{width:118px; height:118px; border-radius:10px; border: 1px solid #ddd; float:left; clear:left;}
#search_map_page #location_info .description{float:left; margin-left: 20px;}
#search_map_page #location_info .info_dc{float:left; margin-top:20px;}
#search_map_page #location_info .info_dc:before{float:left; display: block; content:''; width:13px; height: 13px; background:url(../images/info_icon.png)no-repeat; background-size:13px; margin-right: 5px;}
#search_map_page #location_info span.push{cursor:pointer;}
#search_map_page #location_info span.top20{display:block; margin-top:10px; padding: 10px 0px 10px 10px;}
#search_map_page #location_info .product {width:100%; margin-top:20px;}
#search_map_page #location_info a.product_wrap {width:90%;}
#search_map_page #location_info a.store_wrap {width:100%; margin-top:20px;}
























